<div class="p-6 bg-white md:rounded-lg md:shadow-md">
  <%= form_with(model: @event, local: true) do |f| %>
    <div class="flex">
      <div class="w-1/2 mr-5">
        <div class="relative p-1 mb-8 transition-all duration-500 border rounded focus-within:border-blue-500 focus-within:text-blue-500">
          <div class="absolute px-1 -mt-4 text-xs tracking-wider uppercase">
            <p><%= f.label :name, class: "px-1 text-gray-600 bg-white" %></p>
          </div>
          <p>
            <%= f.text_field :name, autofocus: true, autocomplete: false, class: "block w-full h-full px-2 py-1 text-gray-900 outline-none", tabindex: 0 %>
          </p>
        </div>
        <div class="relative p-1 my-8 transition-all duration-500 border rounded focus-within:border-blue-500 focus-within:text-blue-500">
          <div class="absolute px-1 -mt-4 text-xs tracking-wider uppercase">
            <p><%= f.label :date, class: "px-1 text-gray-600 bg-white" %></p>
          </div>
          <p><%= f.date_select :date, autocomplete: false, class: "block w-full h-full px-2 py-1 text-gray-900 outline-none", tabindex: 0 %></p>
        </div>
        <div class="relative p-1 mt-8 transition-all duration-500 border rounded focus-within:border-blue-500 focus-within:text-blue-500">
          <div class="absolute px-1 -mt-4 text-xs tracking-wider uppercase">
            <p><%= f.label :attendees, class: "px-1 text-gray-600 bg-white" %></p>
          </div>
          <p><%= f.text_field :attendees, autocomplete: false, class: "block w-full h-full px-2 py-1 text-gray-900 outline-none", tabindex: 0 %></p>
        </div>
      </div>
      <div class="w-1/2 ml-5">
        <div class="relative p-1 transition-all duration-500 border rounded focus-within:border-blue-500 focus-within:text-blue-500" >
          <div class="absolute px-1 -mt-4 text-xs tracking-wider uppercase">
            <p class="px-1 text-gray-600 bg-white">RSVP</p>
          </div>
          <div id="emails_field">
            
          </div>
          <div class="flex items-center justify-center h-12 p-4 mx-2 my-4 bg-gray-200 rounded-lg shadow-inner">
            
          </div>
        </div>
      </div>
    </div>
    <div class="pt-3 mt-6 text-center border-t">
      <%= f.submit "Save Event", class: "px-3 py-1 text-gray-100 transition-all duration-300 bg-purple-600 rounded hover:shadow-inner hover:bg-purple-700 cursor-pointer" %>
    </div>
  <% end %>
</div>
