<h1 class="mx-2 text-3xl font-bold lg:mx-0">My Contacts</h1>
<div class="flex mx-2 mt-3 mb-5 lg:mx-0">
  <%= form_tag contacts_path, method: :get, class: "flex w-full px-4 py-2 bg-gray-800 rounded focus-within:bg-gray-700" do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search", 'aria-label': "Search", class: "w-full text-sm leading-tight text-gray-100 placeholder-gray-200 bg-gray-800 focus:outline-none focus:bg-gray-700" %>
    <%= button_tag type: :submit, name: nil do %>
      <%= inline_svg_tag "search.svg", class: "w-8 h-8" %>
    <% end %>
  <% end %>
  <%= link_to "Add New Contact", new_contact_path, class: "ml-2 bg-gray-700 hover:bg-gray-800 rounded text-white p-2 text-center" %>
</div>
<div class="flex flex-col h-full mx-2 mt-2 border border-gray-800 rounded lg:mx-0">
  <% @contacts.each do |contact| %>
    <div class="flex items-center justify-between border-b border-gray-800 last:border-b-0">
      <%= link_to contact, class: "flex items-center p-4 w-full" do %>
        <%= contact_image contact, class: "w-8 h-8 rounded-md"%>
        <h1 class="ml-4 text-black"><%= contact.full_name %></h1>
      <% end %>
      <%= link_to edit_contact_path(contact) do %>
        <%= inline_svg_tag "edit.svg", class: "h-8 w-8 m-4 bg-gray-300 hover:bg-gray-400 rounded" %>
      <% end %>
    </div>
  <% end %>
</div>
