<h1 class="text-3xl font-bold">Search Results</h1>
<div class="flex my-3">
  <%= form_tag contacts_path, method: :get, class: "flex w-full px-4 py-2 bg-gray-800 rounded focus-within:bg-gray-700" do %>
    <%= text_field_tag :search, params[:search], class: "w-full text-sm leading-tight text-gray-100 placeholder-gray-200 bg-gray-800 focus:outline-none focus:bg-gray-700" %>
    <%= button_tag type: :submit, name: nil do %>
      <%= inline_svg_tag "search.svg", class: "w-8 h-8" %>
    <% end %>
  <% end %>
  <%= link_to "Add New Contact", new_contact_path, class: "ml-2 bg-gray-700 hover:bg-gray-800 rounded text-white p-2 text-center" %>
</div>
<div class="mt-5 overflow-hidden border-b border-gray-200 shadow sm:rounded-lg">
  <table class="min-w-full divide-y divide-gray-200">
    <thead>
      <tr>
        <th class="px-4 py-3 text-sm leading-4 tracking-wider text-left text-gray-500 uppercase bg-gray-100">Full Name</th>
        <th class="px-4 py-3 text-sm leading-4 tracking-wider text-left text-gray-500 uppercase bg-gray-100">Email Address</th>
        <th class="px-4 py-3 text-sm leading-4 tracking-wider text-left text-gray-500 uppercase bg-gray-100">Phone Number</th>
        <th class="px-4 py-3 text-sm leading-4 tracking-wider text-left text-gray-500 uppercase bg-gray-100">Organization</th>
        <th class="px-4 py-3 bg-gray-100"></th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <% if @contacts.each do |contact| %>
        <tr>
          <td class="px-6 py-4 whitespace-no-wrap">
            <%= link_to contact, class: "flex items-center w-full" do %>
              <%= contact_image contact, class: "w-10 h-10 rounded-md"%>
              <span class="ml-4"><%= contact.full_name %></span>
            <% end %>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap "><%= contact.emails.first.email if contact.emails.present? %></td>
          <td class="px-6 py-4 whitespace-no-wrap"><%= contact.phone_numbers.first.phone_number if contact.phone_numbers.present? %></td>
          <td class="px-6 py-4 whitespace-no-wrap"><%= contact.organization if contact.organization.present? %></td>
          <td class="px-6 py-4 whitespace-no-wrap">
            <div class="flex items-center justify-end">
              <%= link_to contact_path(contact) do %>
                <%= inline_svg_tag "contact.svg", class: "h-8 w-8 mr-1 bg-purple-200 hover:bg-purple-300 rounded" %>
              <% end %>
              <%= link_to edit_contact_path(contact) do %>
                <%= inline_svg_tag "edit.svg", class: "h-8 w-8 mx-1 bg-gray-300 hover:bg-gray-400 rounded" %>
              <% end %>
              <%= link_to contact, method: :delete do %>
                <%= inline_svg_tag "trash.svg", class: "h-8 w-8 ml-1 bg-red-200 hover:bg-red-300 rounded" %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end.empty? %>
        <tr>
          <td colspan="5" class="p-6 text-center whitespace-no-wrap">
            No Contacts Found.
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
