<div class="flex flex-col items-center justify-between lg:flex-row">
  <div class="flex items-center">
    <%= contact_image @contact, class: "w-16 h-16 rounded-md"%>
    <h1 class="ml-4 text-3xl font-bold"><%= @contact.full_name %></h1>
  </div>
  <div class="flex mt-4 lg:mt-0">
    <%= link_to edit_contact_path @contact do %>
      <%= inline_svg_tag "edit.svg", class: "mr-2 w-10 h-10 hover:bg-gray-100 rounded"%>
    <% end %>
    <%= link_to @contact, method: :delete, data: { confirm: 'Are you sure?' } do %>
      <%= inline_svg_tag "trash.svg", class: "w-10 h-10 hover:bg-red-100 rounded"%>
    <% end %>
  </div>
</div>
<div class="p-8 mt-4 bg-white md:rounded-lg md:shadow-md">
  <div class="relative p-2 transition-all duration-500 border rounded focus-within:border-blue-500 focus-within:text-blue-500">
    <div class="absolute px-1 -mt-4 text-xs tracking-wider uppercase">
      <p class="px-1 text-gray-600 bg-white">Organization</p>
    </div>
    <p class="block w-full h-full px-2 py-1 text-gray-900 outline-none"><%= @contact.organization %></p>
  </div>
  <div class="flex flex-col my-10 lg:flex-row">
    <div class="w-full lg:mr-4 lg:w-1/2">
      <div class="relative h-full p-1 transition-all duration-500 border rounded focus-within:border-blue-500 focus-within:text-blue-500" >
        <div class="absolute px-1 -mt-4 text-xs tracking-wider uppercase">
          <p class="px-1 text-gray-600 bg-white">Emails</p>
        </div>
        <div class="grid items-center w-full grid-cols-6 p-2">
          <% @contact.emails.each do |e| %>
            <div class="col-span-1 py-1 font-semibold">
              <%= e.label %>
            </div>
            <div class="col-span-5 py-1">
              <%= e.email %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="w-full mt-10 lg:ml-4 lg:w-1/2 lg:mt-0">
      <div class="relative h-full p-1 transition-all duration-500 border rounded focus-within:border-blue-500 focus-within:text-blue-500">
        <div class="absolute px-1 -mt-4 text-xs tracking-wider uppercase">
          <p class="px-1 text-gray-600 bg-white">Phone Numbers</p>
        </div>
        <div class="grid items-center w-full grid-cols-6 p-2">
          <% @contact.phone_numbers.each do |p| %>
            <div class="col-span-1 py-1 font-semibold ">
              <%= p.label %>
            </div>
            <div class="col-span-5 py-1">
              <%= number_to_phone p.phone_number, area_code: true %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col mt-10 lg:flex-row">
    <div class="w-full lg:mr-4 lg:w-1/2">
      <div class="relative h-full p-1 transition-all duration-500 border rounded focus-within:border-blue-500 focus-within:text-blue-500" >
        <div class="absolute px-1 -mt-4 text-xs tracking-wider uppercase">
          <p class="px-1 text-gray-600 bg-white">Relationships</p>
        </div>
        <div class="grid items-center w-full grid-cols-6 p-2">
          <% @contact.relationships.each do |r| %>
            <div class="py-1 col-span-full">
              <%= link_to "#{r.person.full_name}' ", contact_path(r.person), class: "hover:border-b-2" %>
              <span class="font-semibold"><%= r.tag %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="w-full mt-10 lg:ml-4 lg:w-1/2 lg:mt-0">
      <div class="relative p-1 py-2 transition-all duration-500 border rounded focus-within:border-blue-500 focus-within:text-blue-500">
        <div class="absolute px-1 -mt-4 text-xs tracking-wider uppercase">
          <p class="px-1 text-gray-600 bg-white">Notes</p>
        </div>
        <p class="w-full p-2"><%= @contact.notes %></p>
      </div>
    </div>
  </div>
</div>
