<!DOCTYPE html>
<html>
  <head>
    <title>Who's Going</title>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <%= favicon_link_tag "logo.png" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= render "layouts/flash" %>
    <div class="container h-full mx-auto my-4">
      <%= yield %>
    </div>
  </body>
</html>
